body, html{
    background-image: url("assets/img/marvel_battle.png");
    background-size: 180vh;
    background-attachment: fixed;
}

.navbar{
    height: 10vh;
}

.move-nav{
    transform: translate(55vw,0vh);
}

#home {
    background-color: rgba(0, 0, 0, 0.274);
    padding: 10px;
    border-radius: 10px;
}

#display-characters{
    background-color: rgba(0, 0, 0, 0.274);
    padding: 10px;
    border-radius: 10px;
}

#navbar-image {
    margin-top: 7vh;
    margin-left: 3vw;
    height: 18vh;
    width: auto;
}

.move-nav a{
    color: white;
    font-size: 22px;
    margin-left: 10px !important;
}

#sign-in-button {
    font-size: 17px;
    text-align: right;
}

/* Home Page Styles */
#main-title {
    text-align: center;
    padding-top: 20vh;
    color: white;
}

#main-titles{
    margin: auto !important;
    margin-top: 5vh !important;
    padding: 1vh;
    width: 75%;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
}

#title-2 {
    margin-top: 5vh;
}

/* Characters Page Styles */

h1 {
    text-align: center;
    padding-top: 7vh;
    color: white;
}

h4 {
    text-align: center;
    margin-top: 5vh !important;
    padding: 2vw;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    font-size: 25px;
    color: white;
}

/* Input Styles for CreateCharacter Component */

.form {
    text-align: center !important;
}

#create {
    margin-bottom: 50px !important;
}

#create-character {
    background-color: #F0131E;
    border: none;
    margin-left: 26vw;

    margin-bottom: 3vh;
}

input{
    display: block;
    width: 50%;
    padding: 10px;
    margin: auto !important;
    margin-top: 20px !important;
    border-radius: 5px;
    background-color: white;
}

.button-styles{
    width: 40%;
    border-radius: 6px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

#submit-character {
    margin-left: 15vw !important;
    margin-top: 4vh;
    background-color: #F0131E;
}

#update-character {
    margin-left: 17vw !important;
    margin-top: 4vh;
    background-color: #F0131E;
}
/* Styles for Character Cards */

#card-div {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 1300px;
    margin-right: 15vw !important;
}

.card {
    height: 620px;
    margin: 10px;
}

#alias {
    text-align: center;
    font-size: 25px;
}

#delete-button {
    position: absolute;
right:    35px;
bottom:   15px;
}

#update-button {
    position: absolute;
right:    160px;
bottom:   15px;
}